@import 'variables',  'partials';
html{
    scroll-behavior: smooth;
}
body{
font-family: "Montserrat", sans-serif;
}
.main-container{
background: linear-gradient(0deg, black 30%, rgb(0, 26, 23) 60%, black 90%);
}
header{
width: 100%;
padding: 0 20px;
   background: linear-gradient(55deg, rgb(0, 12, 11), rgb(2, 87, 90));
   display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    @include mobile{
        padding: 10px 0;
    }
    @include desktops{
        padding: 15px 70px;
    }
    .brand-logo{
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        img{
            width: 40px;
            height: 100%;
            object-fit: contain;
       @include mobile{
        width: 70px;
            height: 70px;
       }   
        }
        h2{
            color: #ffffff;
       padding: 0 10px;
       margin: 0;
            text-transform: capitalize;
            font-weight: 800;
            font-size:1.2rem;
            
           @include tablet{
            font-size: 1.5rem;
           }
        }
    }
@media screen and (max-width:350px) {
    h2{
        display: none;
    }
}
    nav{
display: none;
 @include desktops{
display: block;
 }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
         li{
            a{
                padding: 10px;
                text-decoration: none;
                color: #d6d6d6;
                font-weight: 400;
                text-transform: capitalize;
                transition: 0.3s all ease-in-out;
                &:hover{
                    color: #ffffff;
                }
            }
         }
        }
    }
    .side-shadow{
       display: none;
       position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000ab;
        transition: all 0.6s ease-in-out;
        z-index: 87;
    }
    .side-menu{
        position: fixed;
        top: -400px;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 88;
        background: linear-gradient(55deg, rgb(0, 32, 27) 40%, rgb(0, 24, 21)60%, rgb(0, 18, 19) 80%);
        transition: all 0.4s ease-in-out;
        #close{
            display: block;
      text-transform: capitalize;
      letter-spacing: 1px;
            font-size: 1.2rem;
            padding: 6px 0;
            font-weight: 700;
            display: block;
            color: rgb(32, 32, 32);
            text-align: center;
            background-color: white;
            font-family: "Kanit", sans-serif;
        }
        .ul-list{
            list-style: none;
            padding: 0;
            margin: 0;
            li a{
                font-family: "Montserrat", sans-serif;
border: 1px solid rgba(0, 54, 27, 0.26);
                text-align: center;
                letter-spacing: 1px;
                padding: 20px 0;
                display: block;
                color: #ffffff;
                font-weight: 600;
                text-transform: capitalize;
                text-decoration: none;
                font-size: 1.2rem;
                transition: all 0.2s ease-in-out;
           &:hover{
            background-color: #002020;
           }
            }
        }
    }
    .side-bar{
        @include desktops{
            display: none;
        }
        .toggle{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
           margin-right: 20px;
            i{
                font-size: 2rem;
                color: #ffffff;
            }
        }
    }
}
.intro{
    overflow: hidden;
position: relative;
    padding-bottom: 40px;
    font-family: "Montserrat", sans-serif;
#intro-text{
@include desktops{
    margin-bottom: 60px;
}
.spark{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 300px;
    height: 100px;
    background-color: #028a7eab;
    filter: blur(126px);
}
    span{
        display: inline-block;
        color: #ffffffdc;
        font-size: 0.9rem;
        font-family: "Montserrat", sans-serif;
        @include mobile{
            font-size: 1.2rem;
        } @include small-laptop{ 
            padding-bottom: 10px;
        }
        @include desktops{
            font-size: 1.2rem;
        }
    }
h1{
    font-family: "Montserrat", sans-serif;
    padding-top: 5px;
    color: #ffffffee;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: normal;
    font-size:1.2rem;
    @include mobile{
        font-size: 1.7rem;
    }
    @include tablet{ 
        font-size: 2rem;
        line-height: 1.8rem;
    }
    @include small-laptop{ 
        font-size: 2.3rem;
    }
    @include desktops{
        font-size: 2.2rem;
        padding-bottom: 10px;
    }
}
p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #ffffffde;
    line-height: 1.8rem;
    @include tablet{ 
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
    @include small-laptop{ 
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
    @include desktops{ 
        font-size: 1rem;
        line-height: 1.8rem;
    }
}
}
.intro-con{
    .intro-con-image{
        width: 100%;
       height: 100%;
        object-fit: cover;
        object-position: top;
     @include filter;
     @include mobile{
        width: 100%;
        height:400px;
        transform: scaleX(1);
        rotate: -5deg;
     }
     @include small-laptop{ 
        transform: scaleX(-1);
        width: 100%;
        height:480px;
margin-bottom: 50px;
        object-fit: contain;
        rotate: 0deg;
     }
    } 
}
.img-bottom{
margin: 20px 0;
    padding: 8px 10px;
  background: linear-gradient(black, rgb(0, 26, 23));
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: rgba(0, 184, 169, 0.761);
    text-transform: capitalize;
    @include tablet{ 
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
    @include small-laptop{ 
        font-size: 1.4rem;
        line-height: 2rem;
        width: 60%;
        margin: 0 auto;
    }
    @include desktops{ 
        font-size: 1rem;
        line-height: 1.6rem;
         display: none;
    }
}
    .intro-button{
       display: flex;
       display: inline-block;
       flex-wrap: wrap;
       row-gap: 10px;
       .btn-1{
        padding: 6px 10px;
        background-color: #007272;
        transition: 0.2s all ease-in-out;
        &:hover{
            background-color: #004637;
        }
        a{
            text-transform: capitalize;
            text-decoration: none;
            color: #ffffff;
        }
       }
       .btn-2 {
        padding: 6px 10px;
        background-color: #ffffff;
        transition: 0.2s all ease-in-out;
        &:hover{
            background-color: #c2c2c2;
        }
        a{
            text-transform: capitalize;
            text-decoration: none;
            font-weight: 500;
            color: #000000;
        }
       }
    }  
    }
.about{
    background-image: url(../images/gray-design.png);
    background-color: #0000008a;
    background-blend-mode: darken;
        background-position:center; 
        background-size: cover;
        background-repeat: no-repeat;
    font-family: "Noto Sans", sans-serif;
padding-top: 10px;
padding-bottom: 80px;
width: 100%;
height: 100%;
overflow: hidden;
.about-heading{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    h2{
display: inline-block;
        text-transform: capitalize;
      color: #f1f1f1;
      font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        border-left: 6px solid rgba(0, 189, 148, 0.788);
        padding: 0 20px;

    }
}
   span{
    color: rgb(245, 245, 245);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
  .about-pic{
    position: relative;
  }
    .about-img{
        width: 100%;
        height: 350px;
        object-fit: contain;
        filter: drop-shadow(10px 8px 12px rgba(0, 184, 169, 0.616) );
        z-index: 2;
        position: relative;
    }
    .about-img2{
        width: 100%;
        height: 350px;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        filter: drop-shadow(10px 8px 12px rgba(0, 184, 169, 0.616) );
    }
h3{
    padding-top: 40px;
    padding-bottom: 5px;
    @include desktops{
        padding: 0;
    }
    color: #00b8a8;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
}
    p{
        font-weight: 400;
        color: #ffffffde;
        line-height: 1.8rem;
        @include tablet{ 
            font-size: 1.1rem;
            line-height: 1.8rem;
        }
        @include small-laptop{ 
            font-size: 1.4rem;
            line-height: 2.7rem;
        }
        @include desktops{ 
            font-size: 1rem;
            line-height: 2rem;
        }
    }
    .details{
   .d-fl{
 padding: 4px 0;
    text-transform: capitalize;
    @include desktops{
        padding: 2px 0;
    }
    b{
        color: #ffffffde;
        text-transform: capitalize;
        font-size: 0.9rem;
        font-weight: 400;
        @include tablet{ 
            font-size: 1.1rem;
            line-height: 1.8rem;
        }
        @include small-laptop{ 
            font-size: 1.3rem;
            line-height: 2rem;
        }
        @include desktops{ 
            font-size: 0.9rem;
            line-height: 1.9rem;
        }
    }
    span{
        color: #888888;
        text-transform: capitalize;
        font-size: 0.9rem;
        padding: 0 10px;
        font-weight: 500;
        @include tablet{ 
            font-size: 1.1rem;
            line-height: 1.8rem;
        }
        @include small-laptop{ 
            font-size: 1.4rem;
            line-height: 2rem;
        }
        @include desktops{ 
            font-size: 0.9rem;
            line-height: 1.9rem;
        }
    }
   }
    }
}

.contact{
    background-image: url(../images/dance-art.jpg);
    background-position:50% 15%;
    background-size: cover;
    background-attachment: fixed;
    background-color: #11111144;
    background-blend-mode: darken;
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
   
   .contact-title{
    text-align: center;
    h2{
        display: inline-block;
        text-align: center;
        text-transform: capitalize;
        color:#ffffff;
        font-size: 1.1rem;
        font-weight: 700;
        border-left: 6px solid rgba(0, 189, 148, 0.788);
        padding: 0 10px;
        font-family: "Montserrat", sans-serif;
    @include mobile{
        font-size: 1.6rem;
        padding: 0 20px;
    }
    }
   } 
   .contact-icon{
   margin: 0 auto;
display: grid;
justify-content: center;

.contact-social{
  display: flex;
justify-content: center;
flex-wrap: wrap;
    align-items: center;
column-gap: 15px;
row-gap: 25px;
padding: 5px 0;
@include mobile{
    justify-content: start;
}
    img{
        width: 70px;
        height: 70px;
        object-fit: contain;      
        &:hover{
         transform: scale(1.1);
         transition: all 0.3s ease-in-out;
        }
    }
 .contact-link{
    a{
      display: block;
        border: 1px solid rgba(99, 99, 99, 0.562);
        color: #fffffff3;
        font-weight: 500;
        text-transform: capitalize;
        text-decoration: none;
        border-left: 4px solid #00746e;
        padding: 10px 10px;
       font-size: 0.8rem;
display: flex;
background-color: #11111171;
        backdrop-filter: blur(10px);
       border-radius: 10px;
       &:hover{
        background-color: #6b6b6b7c;
        border-left: 4px solid #004b38;
        transition: all 0.4s ease-in-out;
       }
       @include mobile{
        font-size: 1rem;
        padding: 20px 20px;
       }
       @include tablet{ 
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
    @include small-laptop{ 
        font-size: 1.4rem;
        line-height: 2rem;
    }
    @include desktops{ 
        font-size: 1rem;
        line-height: 1.6rem;
    }
}
 }
} 
   }
    p{
        font-family: "Noto Sans", sans-serif;
        span{
            color: #00b8a8;
            font-weight: 500;
            text-transform: capitalize;
        }
        border: 2px solid rgb(99, 99, 99);
        border-radius: 10px;
        padding: 20px 20px;
        color: #fffffff3;
        line-height: 1.8rem;
        text-transform: capitalize;
        background-color: #11111171;
backdrop-filter: blur(10px);
@include tablet{ 
    font-size: 1.1rem;
    line-height: 1.8rem;
}
@include small-laptop{ 
    font-size: 1.4rem;
    line-height: 2rem;
}
@include desktops{ 
    font-size: 1rem;
    line-height: 1.6rem;
}
    }
}
.project{
   background: linear-gradient(-55deg, rgb(0, 10, 6) 40%, rgba(0, 17, 13, 0.863) 60%, black 90%);
    font-family: "Montserrat", sans-serif;
   position: relative;
   padding-top: 80px;
   overflow: hidden;
 h2{
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    color: #f3f3f3;
    font-size: 1.3rem;
    font-weight: 700;
    border-left: 6px solid rgba(0, 189, 148, 0.788);
    padding: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include mobile{
        font-size: 1.4rem;
        padding: 0 20px;
    }
 }
    h3{
        color: #00b3a4;
        text-transform: capitalize;
       font-size: 1.5rem; 
       font-family: "Montserrat", sans-serif;
       @include small-laptop{ 
        font-size: 1.8rem;
        line-height: 2rem;
    }
    @include desktops{ 
        font-size: 1.5rem;
        line-height: 1.6rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
    }
 button{
    letter-spacing: 1px;
    @include tablet{ 
        font-size: 1.4rem;
    }  
    @include desktops{ 
        font-size: 1rem;
    }  
 }
    p{
    font-family: "Montserrat", sans-serif;
font-weight: 400;
        line-height: 1.8rem;
            letter-spacing: normal;
            color: #fffffff3;
        text-transform: capitalize;
        @include tablet{ 
            font-size: 1.1rem;
            line-height: 2.2rem;
        }
        @include small-laptop{ 
            font-size: 1.3rem;
            line-height: 2.5rem;
        }
        @include desktops{ 
            font-size: 1rem;
            word-spacing: 2px;
            line-height: 1.9rem;
        }
    }
    .project-image-wrapper{
        border-radius: 10px; 
        position: relative;
        overflow: hidden;
        .project-img{
          width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px; 
            &:hover{
            filter: brightness(85%);
            }
        }
        .click-button{
            position: absolute;
            right: 5%;
            top: 5%;
            span{
                padding: 2px 10px;
                border-left: 5px solid crimson;
                text-transform: capitalize;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 0.9rem;
                background-color: #64646469;
                @include tablet{ 
                    font-size: 1.1rem;
                } 
                @include desktops{ 
                    font-size: 0.9rem;
                }   
            }
        }
        .project-image-text{
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #017e73;
            h5{ 
               margin: 0;
               padding: 16px 10px;
               a{
                text-decoration: none;
                color: #ebebeb;
                 text-transform: capitalize;
                font-size: 1.3rem; 
                font-family: "Montserrat", sans-serif;
                @include tablet{ 
                    font-size: 1.6rem;
                    padding: 25px 10px;
                }  
                @include small-laptop{ 
                    font-size: 1.9rem;
                    padding: 20px 10px;
                }  
                @include desktops{ 
                    font-size: 1.3rem;
                    padding: 16px 10px;
                }  
                &:hover{
                    color: #141414;
                    transition: 0.4s ease-in-out;
                }
               }
            }
        }
    } 
}
.service {
    overflow: hidden;
  }
  .service h2 {
    text-transform: capitalize;
    color: #f3f3f3;
    font-size: 1.3rem;
    font-weight: 700;
    border-left: 6px solid rgba(0, 189, 148, 0.788);
    padding: 0 10px;
    margin: 40px 0;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    @include mobile{
        font-size: 1.5rem;
        padding: 0 20px;
    }
  } 
  .service-card {
    transition: all 0.4s ease-in-out;
  }
  .service-card:hover { 
    transform: translateY(-15px);
  }
  .service-card img {
    box-shadow: rgba(204, 204, 204, 0.13) -2px 0 2px 1px;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(94%);
  }
  .service-card-text {
    background: linear-gradient(10deg, #d1d1d1 20%, #ffffff 80%);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .service-card {
   h6{
    display: flex;
    align-items: top;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: #080808;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.6rem;
    @include small-laptop{
        font-size: 1rem;
        line-height: 1.7rem;
    }
@include desktops{
    font-size: 1rem;
    line-height: 1.7rem;
}
   }
  }
  .service-card button {
    margin-top: 10px;
    border: 1px solid rgb(77, 77, 77);
    background: transparent;
 a{
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    color: #131212;
    padding:7px 0;
   display: block;
 }
  }
footer{
    border-top: 3px solid #3b3b3b;
    background-color: black;
h3{
    text-align: center;
    text-transform: capitalize;
    color: #dddddd;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    padding-top: 40px;
    font-size: 1.6rem;
    letter-spacing: 1px;
}
  .footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        li a {
             i{
                color: #f1f1f1;
                font-size: 1.6rem;
                @include mobile{
                    font-size: 2.4rem;
                }
                @include small-laptop{
                    font-size: 2.7rem;
                }
                @include desktops{
                    font-size: 3rem;
                }
                &:hover{
                    color: #d6d6d6;
                }
            }
        }
    }
  }
  .footer-bottom{
    background-color: #0f0f0f;
    padding: 10px 10px;
    p{
        font-family: "Kanit", sans-serif;
        text-transform: capitalize;
        text-align: center;
        padding: 0;
        margin: 0;
        color: #a5a5a5;
        font-size: 0.8rem;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}

